footer.footer   
    ul 
        li.footer__nav.footer_logo
            img(src='/img/atom.png' alt='Shop logo' style='height: 75px; width: 75px; object-fit: contain;')
        li.footer__nav
            pfooter__copyright &copy; by Andrian Maistrenko.


    //- ul.footer__nav 
    //-     li:a(href='#') About us
    //-     li:a(href='#') Download apps
    //-     li:a(href='#') Become an employee 
    //-     li:a(href='#') Careers 
    //-     li:a(href='#') Contact
        